<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250199080465-5r5klb8bk861g4qa9r0rd2f6api6nc0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250199080465-5r5klb8bk861g4qa9r0rd2f6api6nc0f</string>
	<key>API_KEY</key>
	<string>AIzaSyCeWCuXARXqAlI6dp2d8myHUGpPSEQu9T0</string>
	<key>GCM_SENDER_ID</key>
	<string>250199080465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticTacToe</string>
	<key>PROJECT_ID</key>
	<string>tic-tac-toe-f7264</string>
	<key>STORAGE_BUCKET</key>
	<string>tic-tac-toe-f7264.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250199080465:ios:ad4bb10f30a5d3fa393bb0</string>
</dict>
</plist>